<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Hearth Beat</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet" />
  <style>
    nav{
  background-color: #311b92 !important;
}

.chart-container {
  position: relative;
  margin: auto;

}
.collapsible{
  width: 100%!important;
}
  </style>
</head>
<body>

<table class="striped">
        <thead>
          <tr>
              <th>Nom/Prénom</th>
              {{head}}}
          </tr>
        </thead>

        <tbody>
             {{body}}
        </tbody>
      </table>

</body>
</html>